@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
@import './variables';

body {
    color: $white;
    background: $very-dark-blue;
    min-height: 100vh;
    font-size: $font-size;
    display: grid;
    place-content: center;
    font-family: 'Rubik', sans-serif;
}

.grid {
    display: grid;
    gap: 1rem;
    width: 85vw;
    // grid-template-columns: repeat(4, 1fr);
    // grid-template-rows: repeat(2, 1fr);
}
