@import 'variables';

.background {
    background: beige;
    border-radius: 10px 10px 0 0;
    height: 50px;
    // max-height: 60px;
}

.info {
    padding: 1.5em;
    position: relative;
    background: $dark-blue;
    border-radius: 10px;
    margin-top: -10px;
    &:hover {
        background: lighten($dark-blue, 15%);
        cursor: pointer;
    }

    h3 {
        font-size: 1em;
        font-size: $weight-bold;
        z-index: 99;
    }
    a {
        &::before {
            content: '';
            position: absolute;
            inset: 0;
            background: $dark-blue;
            display: none;
            z-index: 1;
        }
        &:hover::before {
            display: block;
        }
        img {
            position: relative;
            z-index: 99;
        }
    }
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tracker {
    margin-top: 0.4em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 99;
}
.current {
    font-size: 1.75em;
    font-weight: $weight-light;
}

.previous {
    font-size: 0.8em;
    color: $desaturated-blue;
}

@media screen and(min-width: $large) {
    .tracker {
        flex-direction: column;
        align-items: flex-start;
    }

    .current {
        font-size: 2.5em;
        margin: 0.5em 0;
    }
}
